body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Arial', sans-serif;
}

.landing-page {
    text-align: center;
}

h1 {
    font-size: 2.5em;
}